.navbar {
  background-color: #0b66c2;
  height: 80px;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 1;
}

.navbarLogo {
  color: #ffffff;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  flex-grow: 1;
}

.navbarLogo:hover {
  color: #ffffff;
}

.navbarImage {
  width: 2rem;
  height: 2rem;
  align-items: center;
  margin-left: 1rem;
}

.navbarMenu {
  display: flex;
  list-style: none;
  margin-right: 2rem;
}

.navbarLinks {
  color: #ffffff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-bottom: 3px solid transparent;
}

.navbarLinks:hover {
  color: #ffffff;
  font-weight: bolder;
}

.fa-code {
  margin-left: 1rem;
}

.navbarItem {
  margin-right: 1rem;
}

.navbarItem .active {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.navbarIcon {
  display: none;
}

@media screen and (max-width: 1060px) {
  .navbarMenu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -110%;
  }

  .navbarMenu.active {
    background: #0b66c2;
    left: 0px;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .navbarItem .active {
    color: #ffffff;
    border: none;
  }

  .navbarLinks {
    padding: 1.5rem;
    display: block;
  }

  .navbarLinks:hover {
    color: #ffffff;
    font-weight: bolder;
  }

  .navbarIcon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #ffffff;
  }
}
