.navbar {
  background-color: #0b66c2;
  height: 80px;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 1;
}

.nav-logo {
  color: #ffffff;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  flex-grow: 1;
}

.nav-logo:hover {
  color: #ffffff;
}

.nav-image {
  width: 2rem;
  height: 2rem;
  align-items: center;
  margin-left: 1rem;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin-right: 2rem;
}

.nav-links {
  color: #ffffff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-bottom: 3px solid transparent;
}

.nav-links:hover {
  color: #ffffff;
  font-weight: bolder;
}

.fa-code {
  margin-left: 1rem;
}

.nav-item {
  margin-right: 1rem;
}

.nav-item .active {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.nav-icon {
  display: none;
}

@media screen and (max-width: 1060px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -110%;
  }

  .nav-menu.active {
    background: #0b66c2;
    left: 0px;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-item .active {
    color: #ffffff;
    border: none;
  }

  .nav-links {
    padding: 1.5rem;
    display: block;
  }

  .nav-links:hover {
    color: #ffffff;
    font-weight: bolder;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #ffffff;
  }
}

/* 
.navbar 
.nav-logo 
.nav-image 
.nav-menu
.nav-links
.fa-code 
.nav-item
.nav-item:after 
.nav-item:hover:after 
.nav-item .active 
.nav-icon 


  .nav-menu 
  .nav-menu.active 
  .nav-item .active 
  .nav-links 
  .nav-icon  */
